h5{
	color:#868585;
}
.ukuran{
	text-align: left;
	margin-top: 10%;
}
.border{
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	width: 100%;
	border-color: #387ef5;
    
}
.progress{
	border-style: solid;
    border-width: 0px 0px 4px 0px;
    width: 100%;
	border-color: rgba(125, 125, 125, 0.41);
	color:#28a54c;
}
.progress .progress-bar{
	background: #28a54c;
	margin-bottom: -5%;
}
.progress .progress-bar {
    position: relative;
    -webkit-transition-duration: 1000ms;
    transition-duration: 1000ms;
}
.progress .percentage {
    background: #ffffff;
    border: 1px solid #28a54c;
}
.progress .percentage {
    position: absolute;
    right: -40px;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    padding: 0 14px;
    border-radius: 3px;
    top: -31px;
    line-height: 24px;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
Inherited from div.progress-bar
.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
Inherited from body
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
Inherited from html
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
Pseudo ::before element
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::after element
.progress .percentage:after {
    border-top-color: #29af8a;
}
.progress .percentage:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-top: 4px solid;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.marginbutton{
	margin-top: 4%;
	text-align: left;
}
.margintext{
	text-align: center;
}
.ukuranpembayaran{
	margin-top: 4%;
}
.ukurantotalidr{
	margin-top: -5%;
    margin-left: 2%;

}
.sizelayoutcampaign{
	margin-bottom: 20%;
}