.pane{
	background: url('../img/bglogin.png') repeat center center fixed; 
    -webkit-background-size: cover;
}
.colorlogin{
	color: white;
}
.cardlogin{
  padding-bottom: 20px;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
}
.opacitylist{
	opacity: 0.8;
  margin-top: -15px;
}
.logologin {
    line-height: 45px;
    padding: 0;
    display: block;
    height: auto;
    text-align: center;
    margin-top: 15%;
}
.logologin img {
    max-height: 69px;
    display: inline;
}
.sizeor{
    text-align: center;
}