.pane{
	background: url('../img/bg.png') repeat center center fixed; 
    -webkit-background-size: cover;
}
.logosplash {
    line-height: 45px;
    padding: 0;
    display: block;
    height: auto;
    text-align: center;
    margin-top: 50%;
}
.logosplash img {
    max-height: 69px;
}
.logosplash img {
    display: inline;
}