.layouthome{
	margin-top: 2%;
}
.layoutrow{
	padding-bottom: 24px;
    padding-right: 9px;
}
.layoutrow2{
	padding-bottom: 24px;
    padding-left: 9px;
}
.iframe{
	width: 100%;
	height: 100%;
}
.colorlist{
	color: #eef2f0;
}
a{
	color:#bfbfbf
}
iframe {
    display: block;
    color: white;
    border: none;         /* Reset default border */
    height: 100%;        /* Viewport-relative units */
    width: 100%;
}
.layoutbutton{
	margin-top: -7%;
	margin-left: 2%;
	margin-right: 2%;
}
.colorfooter{
	color: white;
	text-align: center;
}
img{
	width: 100%;
}
img:hover{

}
.polaroid {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.containerpolaroid {
  text-align: left;
  padding: 10px 20px;
}
.keterangan {
	text-align: left;
    bottom: 29px;
    position: relative;
    display: block;
    padding: 5px 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0.51);
    font: Bold 12px arial;
}
.layoutdonation{
  margin-top: -10%;
}
.layoutdonasi{
  margin-top: : -20%;
}
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}

